# Node.js dependencies
node_modules/

# Logs
logs/
*.log
*logs.json

# Environment variables
.env

# Build output
dist/
build/

# Temporary files
*.tmp
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/